Repository shlyapos/TrackTor, pull requests merged in 2022-04, with the labels that each got.

#24 Feature/22 adding global style
  mobile/app.json
  mobile/babel.config.js
  mobile/metro.config.js
  mobile/src/App.module.css
  mobile/src/styles/colors.ts
  mobile/src/styles/effects.ts
  mobile/src/styles/fonts.ts
  mobile/src/styles/shapes.ts
Labels: FrontEnd, mobile

#26 Feature/15 create track list item component
  mobile/src/pages/TrackList/components/TrackListItem/TrackListItemStyle.ts
  mobile/src/pages/TrackList/components/TrackListItem/index.tsx
  mobile/src/styles/fonts.ts
Labels: FrontEnd, mobile

#30 Добавление карты
  web-client/package-lock.json
  web-client/package.json
  web-client/src/app/app/index.ts
  web-client/src/app/map/components/map/map.component.html
  web-client/src/app/map/components/map/map.component.less
  web-client/src/app/map/components/map/map.component.ts
  web-client/src/app/map/map.actions.ts
  web-client/src/app/map/map.module.ts
  web-client/src/app/map/map.reducer.ts
  web-client/src/app/map/services/map.service.ts
  web-client/src/app/shared/models/track.ts
  web-client/src/app/track/components/track-info/track-info.component.ts
  web-client/src/app/track/components/track-list/track-list.component.ts
  web-client/src/app/track/components/track-page/track-page.component.html
  web-client/src/app/track/components/track-page/track-page.component.less
  web-client/src/app/track/components/track-page/track-page.component.ts
  web-client/src/app/track/track.module.ts
  web-client/src/environments/environment.prod.ts
  web-client/src/environments/environment.ts
  web-client/src/styles.less
Labels: FrontEnd

#33 Bug/27 project cleaning
  mobile/declaration.d.ts
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/AppStyle.ts
  mobile/src/pages/TrackCreate/TrackCreate.module.css
  mobile/src/pages/TrackCreate/TrackCreatePage.tsx
  mobile/src/pages/TrackCreate/TrackCreateStyle.ts
  mobile/src/pages/TrackList/TrackList.module.css
  mobile/src/pages/TrackList/TrackListPage.tsx
  mobile/src/pages/TrackList/TrackListStyle.ts
  mobile/tslint.json
  mobile/yarn.lock
Labels: FrontEnd, mobile

#34 Feature/28 create track list page
  mobile/src/App.tsx
  mobile/src/components/TopMenu/TopMenuStyle.ts
  mobile/src/components/TopMenu/index.tsx
  mobile/src/models/tracks.ts
  mobile/src/pages/TrackList/TrackListPage.tsx
  mobile/src/pages/TrackList/TrackListStyle.ts
  mobile/src/pages/TrackList/components/TrackListItem/TrackListItemStyle.ts
  mobile/src/pages/TrackList/components/TrackListItem/index.tsx
  mobile/src/pages/TrackList/index.tsx
Labels: FrontEnd, mobile

#31 Добавление информации о треке
  web-client/package-lock.json
  web-client/package.json
  web-client/src/app/app/app.module.ts
  web-client/src/app/app/index.ts
  web-client/src/app/map/map.actions.ts
  web-client/src/app/map/map.reducer.ts
  web-client/src/app/map/services/map.service.ts
  web-client/src/app/mock-api/mock-api.interceptor.ts
  web-client/src/app/shared/models/leaderboard.ts
  web-client/src/app/shared/models/track.ts
  web-client/src/app/shared/models/trackCoord.ts
  web-client/src/app/track/components/left-sidebar/left-sidebar.component.html
  web-client/src/app/track/components/left-sidebar/left-sidebar.component.less
  web-client/src/app/track/components/track-info-backward/track-info-backward.component.html
  web-client/src/app/track/components/track-info-backward/track-info-backward.component.less
  web-client/src/app/track/components/track-info-backward/track-info-backward.component.ts
  web-client/src/app/track/components/track-info/track-info.component.html
  web-client/src/app/track/components/track-info/track-info.component.less
  web-client/src/app/track/components/track-info/track-info.component.ts
  web-client/src/app/track/components/track-leaderboard/track-leaderboard.component.html
  web-client/src/app/track/components/track-leaderboard/track-leaderboard.component.less
  web-client/src/app/track/components/track-leaderboard/track-leaderboard.component.ts
  web-client/src/app/track/components/track-list/track-list.component.ts
  web-client/src/app/track/components/track-page/track-page.component.ts
  web-client/src/app/track/track.actions.ts
  web-client/src/app/track/track.effects.ts
  web-client/src/app/track/track.module.ts
  web-client/src/app/track/track.reducer.ts
Labels: FrontEnd

#38 Добавление моделей базы данных для пользователя и результата
  Backend/TrackTor/TrackTor.Database/Configurations/ResultConfiguration.cs
  Backend/TrackTor/TrackTor.Database/Configurations/UserConfiguration.cs
  Backend/TrackTor/TrackTor.Database/Models/Result.cs
  Backend/TrackTor/TrackTor.Database/Models/User.cs
  Backend/TrackTor/TrackTor.Database/TrackTorDBContext.cs
Labels: BackEnd

#40 Добавить сервис уведомлений
  web-client/angular.json
  web-client/package-lock.json
  web-client/package.json
  web-client/src/app/app/app.module.ts
  web-client/src/app/app/components/app.component.html
  web-client/src/app/app/components/app.component.less
  web-client/src/app/track/track.effects.ts
Labels: FrontEnd

#41 Feature/36 mobile navigation setup
  mobile/App.ts
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/AppStyle.ts
  mobile/src/components/TabNavigator/TabNavigatorStyle.ts
  mobile/src/components/TabNavigator/index.tsx
  mobile/src/components/TopMenu/TopMenuStyle.ts
  mobile/src/components/TopMenu/index.tsx
  mobile/src/pages/Login/LoginPage.tsx
  mobile/src/pages/Login/LoginPageStyle.ts
  mobile/src/pages/Login/index.tsx
  mobile/src/stack/RootStackNavigator.tsx
  mobile/src/stack/index.ts
  mobile/src/stack/types.ts
  mobile/yarn.lock
Labels: FrontEnd, mobile

#55 Feature/35 create track info page
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/models/tracks.ts
  mobile/src/pages/TrackInfo/TrackInfoPage.tsx
  mobile/src/pages/TrackInfo/TrackInfoStyle.ts
  mobile/src/pages/TrackInfo/components/ScoreTableItem/ScoreTableItemStyle.ts
  mobile/src/pages/TrackInfo/components/ScoreTableItem/index.tsx
  mobile/src/pages/TrackInfo/index.tsx
  mobile/src/pages/TrackList/components/TrackListItem/index.tsx
  mobile/src/pages/TrackList/index.tsx
  mobile/src/stack/types.ts
  mobile/yarn.lock
Labels: FrontEnd, mobile

#57 [56] add new relashions for entities
  Backend/TrackTor/TrackTor.Database/Configurations/TrackConfiguration.cs
  Backend/TrackTor/TrackTor.Database/Configurations/UserConfiguration.cs
  Backend/TrackTor/TrackTor.Database/Models/Result.cs
  Backend/TrackTor/TrackTor.Database/Models/Track.cs
  Backend/TrackTor/TrackTor.Database/Models/TrackCheckPoint.cs
  Backend/TrackTor/TrackTor.Database/Models/User.cs
Labels: BackEnd

#58 49 Добавлены модели бизнес логики
  Backend/TrackTor/TrackTor.Adaptor/Models/Enums/TransportType.cs
  Backend/TrackTor/TrackTor.Adaptor/Models/ResultModel.cs
  Backend/TrackTor/TrackTor.Adaptor/Models/TrackCheckPointModel.cs
  Backend/TrackTor/TrackTor.Adaptor/Models/TrackModel.cs
  Backend/TrackTor/TrackTor.Adaptor/Models/UserModel.cs
  Backend/TrackTor/TrackTor.Database/Models/TrackCheckPoint.cs
Labels: BackEnd

#59 Feature/51 adding track create page
  mobile/src/models/tracks.ts
  mobile/src/pages/TrackCreate/TrackCreatePage.tsx
  mobile/src/pages/TrackCreate/TrackCreateStyle.ts
  mobile/src/pages/TrackCreate/index.tsx
Labels: FrontEnd, mobile

#66 Feature/54 creating new track record page
  mobile/package.json
  mobile/src/declarations/react-native-svg.d.ts
  mobile/src/models/tracks.ts
  mobile/src/pages/TrackCreate/index.tsx
  mobile/src/pages/TrackInfo/index.tsx
  mobile/src/pages/TrackList/index.tsx
  mobile/src/pages/TrackRecord/TrackRecordPage.tsx
  mobile/src/pages/TrackRecord/TrackRecordStyle.ts
  mobile/src/pages/TrackRecord/components/ActionButtons/ActionButtonsStyles.ts
  mobile/src/pages/TrackRecord/components/ActionButtons/index.tsx
  mobile/src/pages/TrackRecord/components/InfoBlock/InfoBlockStyle.ts
  mobile/src/pages/TrackRecord/components/InfoBlock/index.tsx
  mobile/src/pages/TrackRecord/components/UserMarker/index.tsx
  mobile/src/pages/TrackRecord/index.tsx
  mobile/src/stack/RootStackNavigator.tsx
  mobile/src/stack/types.ts
  mobile/src/utils/distance.ts
  mobile/src/utils/time.ts
  mobile/src/utils/variables.ts
  mobile/yarn.lock
Labels: FrontEnd, mobile

#69 Репозитории для треков и точек
  Backend/TrackTor/TrackTor.Adaptor/Api/ITrackCheckPointRepository.cs
  Backend/TrackTor/TrackTor.Adaptor/Api/ITrackRepository.cs
  Backend/TrackTor/TrackTor.Adaptor/Models/TrackModel.cs
  Backend/TrackTor/TrackTor.Adaptor/Repositories/TrackCheckPointRepository.cs
  Backend/TrackTor/TrackTor.Adaptor/Repositories/TrackRepository.cs
  Backend/TrackTor/TrackTor.Adaptor/TrackTor.Adaptor.csproj
  Backend/TrackTor/TrackTor.Database/Models/Track.cs
  Backend/TrackTor/TrackTor.Database/Models/TrackCheckPoint.cs
  Backend/TrackTor/TrackTor.Database/Models/enums/TransportType.cs
Labels: BackEnd

#63 finished user and result repos
  Backend/TrackTor/TrackTor.Adaptor/Models/UserModel.cs
  Backend/TrackTor/TrackTor.Adaptor/TrackTor.Adaptor.csproj
  Backend/TrackTor/TrackTor.Database/Models/Result.cs
  Backend/TrackTor/TrackTor.Database/Models/User.cs
  Backend/TrackTor/TrackTor.Database/TrackTorDBContext.cs
  Backend/TrackTor/TrackTor.Repositories.Api/IResultRepository.cs
  Backend/TrackTor/TrackTor.Repositories.Api/IUserRepository.cs
  Backend/TrackTor/TrackTor.Repositories.Implementation/Exceptions/NotFoundException.cs
  Backend/TrackTor/TrackTor.Repositories.Implementation/ProviderExtension.cs
  Backend/TrackTor/TrackTor.Repositories.Implementation/ResultRepository.cs
  Backend/TrackTor/TrackTor.Repositories.Implementation/UserRepository.cs
  Backend/TrackTor/TrackTor.sln
Labels: BackEnd

#70 Feature/52 create track run logic
  mobile/src/pages/TrackInfo/index.tsx
  mobile/src/pages/TrackRecord/TrackRecordPage.tsx
  mobile/src/pages/TrackRecord/TrackRecordStyle.ts
  mobile/src/pages/TrackRecord/components/TrackRunStop/TrackRunStopStyle.ts
  mobile/src/pages/TrackRecord/components/TrackRunStop/index.tsx
  mobile/src/pages/TrackRecord/index.tsx
  mobile/src/stack/types.ts
Labels: FrontEnd, mobile

#71 Feature/45 result user controllers
  Backend/TrackTor/TrackTor.Repositories.Api/TrackTor.Repositories.Api.csproj
  Backend/TrackTor/TrackTor.Repositories.Implementation/TrackTor.Repositories.Implementation.csproj
Labels: BackEnd

#72 Добавить авторизацию
  web-client/src/app/app/app-routing.module.ts
  web-client/src/app/app/app.module.ts
  web-client/src/app/auth/auth-routing.module.ts
  web-client/src/app/auth/auth.module.ts
  web-client/src/app/auth/components/auth-page/auth-page.component.css
  web-client/src/app/auth/components/auth-page/auth-page.component.html
  web-client/src/app/auth/components/auth-page/auth-page.component.less
  web-client/src/app/auth/components/auth-page/auth-page.component.spec.ts
  web-client/src/app/auth/components/auth-page/auth-page.component.ts
  web-client/src/app/auth/guards/auth.guards.ts
  web-client/src/app/auth/interceptors/jwt.interceptor.ts
  web-client/src/app/auth/services/auth.service.ts
  web-client/src/app/mock-api/mock-api.interceptor.ts
  web-client/src/app/shared/models/user.ts
  web-client/src/app/track/components/track-page/track-page.component.html
  web-client/src/app/track/components/track-page/track-page.component.less
  web-client/src/app/track/components/track-page/track-page.component.ts
  web-client/src/assets/background.png
  web-client/src/colors.less
Labels: FrontEnd

#75 Feature/67 create login page
  mobile/src/assets/background.png
  mobile/src/components/TabNavigator/index.tsx
  mobile/src/declarations/image.d.ts
  mobile/src/pages/Login/LoginPage.tsx
  mobile/src/pages/Login/LoginPageStyle.ts
  mobile/src/pages/Login/components/ActionBlock/ActionBlockStyle.ts
  mobile/src/pages/Login/components/ActionBlock/index.tsx
  mobile/src/pages/Login/components/MainIcon/index.tsx
  mobile/src/pages/Login/index.tsx
  mobile/src/pages/Login/middleware.tsx
  mobile/src/stack/RootStackNavigator.tsx
  mobile/src/stack/types.ts
Labels: FrontEnd, mobile

#81 Создать .yml файл CI тестирования для Backend
  .github/workflows/backend.yml
  Backend/TrackTor/TrackTor.Adaptor/TrackTor.Adaptor.csproj
  Backend/TrackTor/TrackTor.Database/TrackTor.DataBase.csproj
  Backend/TrackTor/TrackTor.Tests/TrackTor.Tests.csproj
  Backend/TrackTor/TrackTor.WebService/TrackTor.WebService.csproj
Labels: BackEnd
